.header {
    padding: 30px 0;
    color: #ffffff;
    background-color: #7fd82b;
background-image: linear-gradient(319deg, #7fd82b 0%, #ef4063 37%, #e557c6 100%);
    width: 100%;
    text-align: center;
    border-bottom: 5px solid lavender;
    margin-bottom: 10px;
}